src/wys_ars/utils/arepo_hdf5_library_2020/
/.coverage
/.mypy_cache/
/.nox/
/.python-version
/.pytype/
/docs/_build/
/dist/
/src/*.egg-info/
__pycache__/
tests/.coverage
tests/coverage.xml
tests/pytest.ini
__init__.pyc
