&input
 verbose=.true.
 megaverbose=.true.
 filein='/cosma7/data/dp004/dc-beck3/3_Proca/lightcone_cvg_b3_000001/box1/snapdir_012/part_00012.out'
 nfile=2
 nmpi=392
 read_mass=.false.
 nfoldpow=-512
 ngrid=512
 norder=3
 shift=0.0 0.0 0.0
 filepower='/cosma7/data/dp004/dc-beck3/3_Proca/lightcone_cvg_b3_000001/box1/pk_matter_fp512_00012.dat'
 filepower_fold='#powspec'
 filetaylor='#powspec.taylor'
/
